<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">

    <test name="ChromeTest">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="latest"/>
        <parameter name="platform" value="Windows 11"/>
        <classes>
            <class name="LoginTest"/>
            <class name="CartTest"/>
            <class name="CheckoutTest"/>
        </classes>
    </test>

    <test name="FirefoxTest">
        <parameter name="browser" value="Firefox"/>
        <parameter name="version" value="latest"/>
        <parameter name="platform" value="macOS Ventura"/>
        <classes>
            <class name="LoginTest"/>
            <class name="CartTest"/>
            <class name="CheckoutTest"/>
        </classes>
    </test>

</suite>
